.mp-slider {
    position: relative;
    width: 400px;
    height: 250px;
    overflow: hidden;
}
.mp-slider-img {
    width: 400px;
    height: 250px;
}
.mp-slider ul, li, img {
    padding: 0px;
    margin: 0px;
}
.mp-slider-description {
    position: absolute;
    bottom: 0;
    opacity: 0.4;
    width: 400px;
    font-size: 0px;
}

.mp-slider-item {
    display: inline-block;
    width: 80px;
    text-align: center;
    background-color: rgb(13, 227, 126);
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    height: 24px;
    box-shadow: 4px 4px 20px #000000;
}

.mp-slider-description .on {
    background-color: #f4f4f4;
}